body {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    position: relative;
}

.documentation-container {
    width: 100%; /* Set width to 100% of the viewport */
    max-width: none; /* Remove max-width constraint */
    margin: 0; /* Remove default margin */
}

.background-gif {
    width: 100%; /* Set width to 100% of the viewport */
    height: 600px; /* Adjust height as needed */
    background-image: url('giphy.gif'); /* Specify the correct path to your GIF */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header {
    position: relative;
    overflow: hidden;
}

.title {
    text-align: center;
    color: white;
    font-size: 4rem;
    font-family: 'Georgia', serif; /* Example grand font */
    margin-top: 25vw; /* Adjust as needed */
}  

.content {
    max-width: 50vw;
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px; /* Rounded corners only at the bottom */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Drop shadow for depth */
    padding: 20px;
    margin: 0 auto; /* Center horizontally */
}

.content h2 {
    color: #333;
    margin-top: 0; /* Remove default margin for heading */
}

.content p {
    color: #666;
    line-height: 1.6;
}

@media (max-width: 1200px) {
    .background-gif {
        height: 50px; /* Adjust height for smaller screens */
    }
}
